<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5 bg-body px-5">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Blog App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link", id: 'home' %>
        </li>
        <li class="nav-item">
          <%= link_to "Articles", articles_path, class: "nav-link", id: 'articles' %>
        </li>
          <% if current_user && (current_user.admin? || current_user.moderator?) %>
              <li class="nav-item" >
                <%= link_to "Accounts", accounts_path, class: "nav-link", id: 'accounts' %>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#", id = 'settings'>Settings</a>
              </li>
        <% end %>  
      </ul>
      <% if current_user %>
        <span id="user-settings" class="navbar-text">
          <%= current_user.email %>
        </span>
        <span class="navbar-text">
          <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete, class: "btn btn-outline-danger ms-3", id: 'sign-out' %>
        </span>
        <% else %>
        <span class="navbar-text">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link", id: 'sign-in' %>
        </span>
        <span class="navbar-text">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link", id: 'sign-up' %>
        </span>
      <% end %>
    </div>
  </div>
</nav>