<div class="d-flex justify-content-center align-items-center">
    <h1 class="fs-3">Articles Page</h1>
</div>
<div class="d-flex flex-column">
    <%= form_with url: articles_path, method: :get, local: true, data: { turbo: false, turbo_frame: "articles", turbo_action: "advance" } do |form| %>
        <div class="input-group my-5">
            <div class="col-9" style="padding:0">
                <%= form.text_field :search, placeholder: 'Search Articles...', class: 'form-control', onkeydown: 'clickSubmit();', id:"search"%>
            </div>
            <div class="col-3" style="padding:0">
                 <%= form.collection_select :category_id, @categories.collect, :id, :name, {},{ class: "form-select", onchange:'clickSubmit()', id:"category"} %>
            </div>
        </div>
    <% end %>
    
</div>
    <%= link_to "Create article", new_article_path, class: "btn btn-primary", id: "new-article-button" %>
    <%= turbo_frame_tag "articles" do %>
         <%= render @articles %>
    <% end %>
<div class="d-flex justify-content-center">
    <%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>


<script>
    function clickSubmit() {
        $("search_submit").trigger("click");
    }
</script>