<div class="mb-3">
    <%= link_to "Back to articles", :back, class: "" %>
</div>

<div id="single-article-content">
  <div class="row">
    <div class="card col-sm-offset-3 px-3 py-3">
      <div class="article-by mb-3">Posted by <%= @article.user.email %></div>
      <h3 class="mb-2"><%= @article.title %></h3>
      <p><%= @article.content %></p>
      <div class="d-flex">
      <% if current_user.email === @article.user.email%>
        <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-primary me-2" %>
      <% end %>  
          <% if current_user.admin? %>
            <%= button_to 'Delete', article_path(@article), method: :delete, class: "btn btn-outline-danger ms-2 button-delete" %>
          <% end %>
      </div>
    </div>
  </div>
</div>