<div class="d-flex justify-content-center align-items-center">
    <div class="card bg-info me-5">
        <div class="card-body" id="hobby">
            <h5 class="card-title"><%= t('.txt_title_category_hobby')%></h5>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <%= link_to t('.b_more_info'), hobby_articles_path, class: "btn btn-info" %>
        </div>
    </div>
    <div class="card bg-warning me-5">
        <div class="card-body" id="studi">
            <h5 class="card-title"><%= t('.txt_title_category_study')%></h5>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <%= link_to t('.b_more_info'), study_articles_path, class: "btn btn-warning" %>
        </div>
    </div>
    <div class="card bg-danger">
        <div class="card-body" id="team">
            <h5 class="card-title"><%= t('.txt_title_category_team')%></h5>
        </div>
        <div class="card-footer d-flex justify-content-center">
            <%= link_to t('.b_more_info'), team_articles_path, class: "btn btn-danger" %>
         </div>
    </div>
</div>

