<% if @user %>
    <div class="jumbotron d-flex flex-row align-items-center justify-content-between">
        <div>
            <h2 class="display-4">
                <%= @user.email %>
            </h2>
            <h4>
                <%= @user.role %>
            </h4>
        </div>
        <div class="d-flex flex-row">
            <% if @user.role != 'admin' %>
                <%= button_to 'Edit', user_edit_role_path, method: :get, class: "btn btn-primary me-2" %>
                <%= button_to 'Delete', user_path(@user), method: :delete, class: "btn btn-danger me-2", form: {data: {turbo_confirm: 'Are you sure?'}} %>
            <% end %>

            <%= button_to 'Back', accounts_path, method: :get, class:"btn btn-dark" %>
        </div>
    </div>
<% end %>